### Intellij template
.idea/**
.git
# Compiled class file
*.class
*.log

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

node_modules/
.npm

### Gradle
.gradle
**/build/
!src/**/build/
